name: Build Flet APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4  # Update ke v4

      - name: Setup Python
        uses: actions/setup-python@v5  # Update ke v5
        with:
          python-version: '3.10'

      - name: Install Flet and Dependencies
        run: |
          pip install flet yt-dlp
          
      - name: Setup Java
        uses: actions/setup-java@v4  # Update ke v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Build APK
        run: flet build apk main.py

      - name: Upload APK
        uses: actions/upload-artifact@v4  # INI YANG PALING PENTING! Update ke v4
        with:
          name: release-apk
          path: build/apk/*.apk
